#
# Nginx configuration file
#
# -----------------------------------------------

user nginx;
worker_processes 1;

events {
    worker_connections 1024;
}

http {
    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;
    sendfile            on;
    tcp_nopush          on;
    keepalive_timeout   10;
    gzip                on;
    index               index.html;

    server {
        listen      80;
        servername  localhost;
        root        /usr/share/nginx/html;
        charset     utf-8;
        access_log  /var/log/nginx/access.log;

        location {
            ssi on;
            try_files $uri $uri/ =404;
        }
    }
}
